accelerate==0.21.0
datasets==2.13.1
ipython==8.14.0
pandas==2.0.3
python-box==7.0.1
PyYAML==6.0.1
torch==2.0.1
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers
transformers[sentencepiece]
flask
