{% extends 'base.html' %}
{% block main_container %}
<section class="input-section">
    <form id="summarizeForm">
        <textarea id='text' placeholder="Paste your text here to summarize..." name="script"
            required>{% if script %}{{ script }}{% endif %}</textarea>

        <div class="button-container">
            <button type="submit" id="submitBtn" class="btn-primary">
                <span id="btnText">Summarize Text</span>
                <span id="loader" class="loader hidden"></span>
            </button>
        </div>
    </form>
</section>

<section id="summarySection" class="output-section {% if not summary %}hidden{% endif %}">
    <div class="summary-container">
        <h2>Summary</h2>
        <div id="summaryContent" class="summary-text">
            {% if summary %}{{ summary }}{% endif %}
        </div>
    </div>
</section>
{% endblock %}